{% extends "base.html" %}

{% block title %}
full stack app
{% endblock %}

{% block content %}
<h1 class="text-center  mb-10">Wellcome to fullstack app</h1>

<h2>{% if form.instance.pk %} 
Edit Tweet 
{% else %}
Create a Tweet
{% endif %}


<div class="container mt-5">
        <div class="form-container">
    

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.text.label_tag }}
            {{ form.text }}
        </div>
        <div class="mb-3">
            {{ form.photo.label_tag }}
            {{ form.photo }}
        </div>
<button class="btn btn-warning mb-5" type="submit">Submit</button>
    
</form>
</div>
</div>
<a href="{%url 'tweet_list'%}" class="btn btn-success">Back to tweet list</a>
</h2>






{% endblock %}